<div class="row">
  <div class="col-sm-6">
    <img src={{item.image}} alt={{item.name}} class='img-responsive'/>
  </div>
  <div class="col-sm-6">
    <h2>{{item.name}}</h2>
    <h3>${{item.price}}.00</h3>
    {{#if few}}
      <h4>Almost out! Only {{item.quantity}} left!</h4>
    {{/if}}
    {{#if out}}
      <h4>Sold out :(</h4>
    {{/if}}
    <p>{{item.description}}</p>
    <form class='form-inline'>
      <label for="quantity">Quantity:</label>
      {{input value=quantity type='number' min='1' max='3'}}
      <button {{action 'addToCart' item}} class='btn btn-success btn-large center-block {{if out "disabled"}}'>Add to Cart</button>
    </form>
  </div>
</div>
